<div class="pure-u-1-2 scroll">
  <div class="pure-g conversation" ng-repeat="conversation in lastestConversations">
    <a ng-href="#/profiles/{{conversation.id}}">
      <img class="thumbnail" ng-src="http://cdns.grindr.com/images/thumb/187x187/{{conversation.thumbnail}}">
    </a>
    <div class="lastMessages" ng-click="open(conversation.id)">
      {{lastMessage = conversation.messages[conversation.messages.length - 1]; ""}}
      <p>{{lastMessage.text || (lastMessage.image ? '***IMAGE***' : '***LOCATION')}}</p>
      <p ng-if="(lastMessage.text || '').length < 40">
      {{conversation.messages[conversation.messages.length - 2].text || ''}}
      </p>
    </div>
  </div>
</div>


<div ng-show="conversationId" class="pure-u-1-2 scroll">

  <div id="bubbles">
    <div ng-repeat-start="message in conversation.messages" class="{{message.fromMe ? 'from-me' : 'from-them'}}">
      <p ng-if="message.text">{{message.text}}</p>
      <a ng-if="message.location" target="_blank"
         ng-href="https://maps.google.com/?q=loc:{{message.location.lat}},{{message.location.lon}}">*LOCATION*</a> 
      <img class="pure-img" ng-if="message.image" ng-src=http://cdns.grindr.com/grindr/chat/{{message.image}}>
    </div>
    <div ng-repeat-end class="clear"></div>
  </div>

  <form class="pure-form">
    <fieldset class="pure-group">
      <textarea ng-model="message" class="pure-input-1" rows="5" placeholder=""></textarea>
    </fieldset>

    <button ng-click="sendText()" ng-hide="chatError" type="submit" class="pure-button pure-input-1 pure-button-primary">Send</button>
    <button ng-click="showSentImages()" ng-hide="chatError" type="submit" class="pure-button pure-input-1 button-secondary">Send Image</button>
    <button ng-click="sendLocation()" ng-hide="chatError || sentImages" type="submit" class="pure-button pure-input-1">Send Location</button>
    <button ng-click="block()" ng-hide="sentImages" type="submit" class="pure-button pure-input-1 button-error">Block</button>
  </form>

  <div ng-show="sentImages" class="pure-g">
    <img ng-repeat="imageHash in sentImages"
         ng-src="http://cdns.grindr.com/grindr/chat/{{imageHash}}" ng-click='sendImage(imageHash)' class="pure-u-1-3 pure-img sent-image">
    <div class="pure-u-1-1 icons">
      <label ng-hide="uploading" for="upload-image">
        <i class="icon-plus icon2x"></i>
      </label>
      <img ng-show="uploading" src="img/spin.gif">
      <input type="file" accept="image/jpg,image/jpeg" file-model="imageFile" id="upload-image">
    </div>
  </div>
</div>
