<div class="pure-u-1-2 scroll">
  <div class="pure-g conversation" ng-repeat="conversation in lastestConversations">
    <a class="pure-u-1-6 block;" ng-href="#/profiles/{{conversation.id}}">
      <img class="pure-img" ng-src="http://cdns.grindr.com/images/thumb/187x187/{{conversation.thumbnail}}">
    </a>
    <a class="pure-u-5-6 block" ng-click="open(conversation.id)">
      <p>{{conversation.messages[conversation.messages.length - 1].text || '***IMAGE***'}}<p>
      <!-- FIXIT: ridiculously long inline expression -->
      <p ng-if="(conversation.messages[conversation.messages.length - 1].text || '').length < 40">
      {{conversation.messages[conversation.messages.length - 2].text || ''}}
      <p>
    </a>
  </div>
</div>


<div ng-show="conversationId" class="pure-u-1-2 scroll">

  <div id="bubbles">
    <div ng-repeat-start="message in conversation.messages" class="{{message.fromMe ? 'from-me' : 'from-them'}}">
      <p ng-if="message.text">{{message.text}}</p>
      <img class="pure-img" ng-if="message.image" ng-src=http://cdns.grindr.com/grindr/chat/{{message.image}}>
    </div>
    <div ng-repeat-end class="clear"></div>
  </div>

  <form class="pure-form">
    <fieldset class="pure-group">
      <textarea ng-model="message" class="pure-input-1" rows="5" placeholder=""></textarea>
    </fieldset>

    <button ng-click="sendText()" ng-hide="chatError" type="submit" class="pure-button pure-input-1 pure-button-primary">Send</button>
    <button ng-click="showSentImages()" ng-hide="chatError" type="submit" class="pure-button pure-input-1 button-secondary">Send Image</button>
    <button ng-click="block()" ng-hide="sentImages" type="submit" class="pure-button pure-input-1 button-error">Block</button>
  </form>

  <div ng-show="sentImages" class="pure-g">
    <img ng-repeat="imageHash in sentImages"
         ng-src="http://cdns.grindr.com/grindr/chat/{{imageHash}}" ng-click='sendImage(imageHash)' class="pure-u-1-3 pure-img sent-image">
    <div class="pure-u-1-1 icons">
      <label for="upload-image">
        <i class="icon-plus icon2x"></i>
      </label>
      <input type="file" accept="image/jpg,image/jpeg" file-model="imageFile" id="upload-image">
    </div>
  </div>
</div>
